/* Global Settings */
html {
  font-size: 16px;
}

body {
  /*Make the body constrain to 1024px, shoudl be enough to layout well*/
  width: 1024px;
}

/* header section - has main container that we make flex. */
.hcontain {
  display: flex;
  align-items: center;
  height: 64px;
  height: 4rem;
  width: 100%;
}

.himg {
  margin-left: 1.5rem;
  margin-left: 24px;
}

.htext {
  margin-left: 1rem;
  text-transform: uppercase;
}

.htext .uname {
  font-style: bold;
}

.htext .type {
  color: gray;
}

/* Position relative and push to the right of the page */
.hmenu {
  position: relative;
  left: 28rem;
}
/* Make inline block, we may want to target each block for style later. */
.hmenu ul li {
  display: inline-block;
  margin-right: 1rem;
}

/* Learning Banner Section - has main container and containers for each element.
Make the container flex, but also make the text elements their own flex w/
column direction. */

.learn_banner {
  display: flex;
  width: 100;
  background-color: lightgray;
}

.lb_img {
  background-image: url("../resources/images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2rem 1.5rem;
  margin: 32px 24px;
  height: 25rem;
  width: 34.5625rem;
  width: 553px;
}

.lb_text {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-left: 2.5rem;
  margin-left: 40px;
}

.lb_text h1 {
  width: 17.875rem;
  width: 286px;
  font-weight: 500;
  font-size: 2.5rem;
}

.lb_text .lb_p {
  width: 17.875rem;
  width: 286px;
  font-size: 1.5rem;
}

/* Make flex in order to center text easily */
.lb_text .lb_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  color: white;
  width: 17.875rem;
  width: 286px;
  height: 3rem;
}

/* Main Informaiton section */

.main_containter {
  display: flex;
  width: 100;
  border: 2px solid blue;
}

.main_left {
  width: 37.5625rem;
  width: 601px;
}

.main_left_img {
  background-image: url("../resources/images/information-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2rem 1.5rem;
  margin: 32px 24px;
  height: 18.75rem;
  width: 34.5625rem;
  width: 553px;
}

.main_left_text {
  margin-left: 1.5rem;
  margin-left: 24px;
}

.main_left_text h1 {
  font-size: 2rem;
  font-weight: bold;
}

.main_right {
  display: flex;
  flex-direction: column;
  width: 26.4375rem;
  width: 423px;
}

.main_right img {
  height: 35%;
  width: 35%;
  margin: 1rem;
  margin: 16px;
}

.main_right .right_top {
  display: inline-flex;
}

/* Add one more rem of top margin to aling wiht left image */
.main_right .right_top:first-child {
  margin-top: 1rem;
  margin-top: 16px;
}

.main_right .right_top_text {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-left: 2rem;
}

.main_right .right_middle {
  display: inline-flex;
}

.main_right .right_middle_text {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-left: 2rem;
}

.main_right .right_bottom {
  display: inline-flex;
}

.main_right .right_bottom_text {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-left: 2rem;
}
